/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
}

body{
    background-color: #dedede;
}

/* Estilização do Header */
.header {
    background-color: #Ffd700; /* Cor de fundo do cabeçalho */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
    border-bottom: 1px solid #E0E0E0; /* Borda inferior do cabeçalho */
    font-size: 16px;
}

.header-container {
    max-width: 1200px; /* Largura máxima do contêiner do cabeçalho */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    display: flex; /* Usa flexbox para layout */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    justify-content: space-between; /* Espaça os itens ao longo do eixo principal */
    align-items: center; /* Alinha itens ao centro no eixo transversal */
    padding: 0 20px; /* Espaçamento interno horizontal */
}

.logo img {
    max-height: 50px; /* Limita a altura da imagem do logo */
}

.search-bar input {
    width: 300px; /* Largura fixa para a barra de busca */
    padding: 10px; /* Espaçamento interno da barra de busca */
    border: 1px solid #CCCCCC; /* Borda da barra de busca */
    border-radius: 5px; /* Bordas arredondadas */
}

.header-buttons {
    display: flex; /* Usa flexbox para layout dos botões */
    flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte */
    gap: 10px; /* Espaçamento entre os botões */
}

.header-buttons a {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    background-color: #007BFF; /* Cor de fundo dos botões */
    color: #FFFFFF; /* Cor do texto dos botões */
    text-decoration: none; /* Remove o sublinhado dos links */
    border-radius: 5px; /* Bordas arredondadas dos botões */
    font-size: 14px; /* Tamanho da fonte dos botões */
    text-align: center; /* Alinha o texto ao centro */
}

.header-buttons a:hover {
    background-color: #0056b3; /* Cor de fundo dos botões ao passar o mouse */
}

/* Wrapper para centralizar o conteúdo */
.wrapper {
    max-width: 1200px; /* Largura máxima do wrapper */
    margin: 0 auto; /* Centraliza o wrapper horizontalmente */
    padding: 40px;
     /* Espaçamento interno */
    background-color: rgba(255, 255, 255, 0.9);

}

/* Banner de Propaganda */
.banner {
    margin: 20px 0; /* Margem superior e inferior */
    position: relative; /* Permite o posicionamento absoluto dos botões */
}

.banner-content {
    display: flex; /* Usa flexbox para layout do banner */
    align-items: center; /* Alinha itens ao centro no eixo transversal */
    justify-content: space-between; /* Espaça itens ao longo do eixo principal */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
}

.banner-image {
    width: 100%; /* Faz a imagem preencher a largura do contêiner */
    height: 300px; /* Altura fixa da imagem do banner */
    background-color: #E7E7E7; /* Cor de fundo da imagem */
    text-align: center; /* Alinha o texto ao centro */
    line-height: 300px; /* Alinha o texto verticalmente */
    font-size: 24px; /* Tamanho da fonte do texto */
    color: #333; /* Cor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    flex-grow: 1; /* Permite que a imagem cresça para preencher o espaço */
}

.btn-left, .btn-right {
    position: absolute; /* Posiciona os botões relativamente ao banner */
    top: 50%; /* Posiciona os botões verticalmente ao centro */
    transform: translateY(-50%); /* Ajusta o botão para centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões com opacidade */
    color: #FFFFFF; /* Cor do texto dos botões */
    border: none; /* Remove bordas dos botões */
    padding: 10px; /* Espaçamento interno dos botões */
    cursor: pointer; /* Cursor em forma de mão para indicar que é clicável */
    border-radius: 50%; /* Botões redondos */
}

.btn-left {
    left: 10px; /* Posiciona o botão à esquerda */
}

.btn-right {
    right: 10px; /* Posiciona o botão à direita */
}

/* Seção de Tipos de Produtos */
.product-types {
    display: flex; /* Usa flexbox para layout dos tipos de produtos */
    justify-content: space-between; /* Espaça os itens ao longo do eixo principal */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    margin-bottom: 20px; /* Margem inferior */
}

.type-item {
    flex: 1 1 calc(33.333% - 20px); /* Tamanho flexível dos itens com ajuste automático */
    margin: 10px; /* Margem entre os itens */
    background-color: #F7F7F7; /* Cor de fundo dos itens */
    padding: 20px; /* Espaçamento interno dos itens */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 16px; /* Tamanho da fonte dos itens */
    color: #333; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas dos itens */
    border: 1px solid #E0E0E0; 
}

/* Seção de Produtos Mais Buscados */
.mais_buscados {
    margin-bottom: 20px; /* Margem inferior */
}

.mais_buscados h3 {
    font-size: 20px; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Margem inferior do título */
}

.products-container {
    display: flex; /* Usa flexbox para layout dos produtos */
    flex-direction: row;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    gap: 20px; /* Espaçamento entre os itens */
    padding-bottom: 20px;
}

.product-item {
    display: inline;;
    background-color: #FFFFFF; 
    border: 1px solid #E0E0E0; 
    border-radius: 5px; /* Bordas arredondadas dos itens */
    padding: 15px; /* Espaçamento interno dos itens */
    text-align: center; /* Alinha o texto ao centro */
    max-width: 200px;
    max-height: 258px;
}

.product-item img {
    max-width: 188.4px;
    max-height: 188.4px;
    vertical-align: middle;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px; 
    transition: transform 0.5s ease;
}

.product-item img:hover {
    transform: scale(1.1);
}

.w-full {
    max-width: 188.4px;
    max-height: 188.4px;
    width: 100%;
}

.product-item p {
    margin-bottom: 5px;
}

/* Estilização do Footer */
.footer {
    background-color: #F7F7F7; /* Cor de fundo do rodapé */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
    text-align: center; /* Alinha o texto ao centro */
    border-top: 1px solid #E0E0E0; /* Borda superior do rodapé */
}

.footer p {
    color: #777; /* Cor do texto do rodapé */
    font-size: 14px; /* Tamanho da fonte do rodapé */
}

/* Links gerais */
a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

a:hover {
    color: #007BFF; /* Altera a cor dos links ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Responsividade */
@media (max-width: 1024px) {
    .search-bar input {
        width: 100%; /* Faz a barra de busca preencher a largura do contêiner em telas menores */
    }

    .banner-image {
        height: 250px; /* Ajusta a altura da imagem do banner */
        line-height: 250px; /* Ajusta a altura da linha para centralizar o texto */
    }

    .type-item {
        flex: 1 1 calc(50% - 20px); /* Ajusta o tamanho dos itens para duas colunas */
    }

    .product-item {
        flex: 1 1 calc(50% - 20px); /* Ajusta o tamanho dos itens para duas colunas */
    }
}

@media (max-width: 768px) {
    .header-container, .wrapper {
        padding: 0 10px; /* Reduz o padding em telas menores */
    }

    .header-container {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: flex-start; /* Alinha os itens ao início do contêiner */
    }

    .header-buttons {
        margin-top: 10px; /* Adiciona margem superior aos botões */
    }

    .banner-image {
        height: 200px; /* Ajusta a altura da imagem do banner */
        line-height: 200px; /* Ajusta a altura da linha para centralizar o texto */
    }

    .type-item, .product-item {
        flex: 1 1 100%; /* Faz os itens ocuparem 100% da largura disponível */
    }
}

@media (max-width: 480px) {
    .banner-image {
        font-size: 20px; /* Reduz o tamanho da fonte da imagem do banner */
    }

    .type-item {
        font-size: 14px; /* Reduz o tamanho da fonte dos itens */
        padding: 15px; /* Ajusta o padding dos itens */
    }

    .product-item img {
        max-height: 200px; /* Limita a altura máxima da imagem dos produtos */
    }

    .footer p {
        font-size: 12px; /* Reduz o tamanho da fonte do rodapé */
    }
}
