body{
    margin: 0;
    padding: 0;
}

.main-img {
    height: 70vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
    margin-bottom: -5px;
}

.seilabla {
    margin: 0px;
}

#info-main{
    position: absolute;
    font-size: 38px;
    top: 70px;
    left: 150px;
    
}

#info{
    position: absolute;
    font-size: 28px ;
    top: 280px;
    left: 150px;
}

.flex {
    display: flex;
}

.abouts{
    flex-direction: row;
    width: 100vw;
    height: 30vh;
}

.about{
    padding: 15px;
    width: 25vw;
    color: white;
    background: rgb(9,9,112);
    background: linear-gradient(90deg, rgba(9,9,112,1) 0%, rgba(9,9,121,1) 25%, rgba(9,9,144,1) 100%);
}


